<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59650984528-hkcrmosruefra0hk1qv5j54qs18irlcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59650984528-hkcrmosruefra0hk1qv5j54qs18irlcn</string>
	<key>API_KEY</key>
	<string>AIzaSyARPRxhtiJVXCZmdZXIVgUvT4EHbAZ652E</string>
	<key>GCM_SENDER_ID</key>
	<string>59650984528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subliminal</string>
	<key>PROJECT_ID</key>
	<string>success-subliminals</string>
	<key>STORAGE_BUCKET</key>
	<string>success-subliminals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59650984528:ios:b9db18be5e714e1e35df55</string>
</dict>
</plist>